<!-- sidebar.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<!-- Sidebar Fragment -->
	<aside id="sidebar" class="sidebar" th:fragment="sidebar">

		<ul class="sidebar-nav" id="sidebar-nav">

			<!-- Dashboard -->
			<li class="nav-item"><a class="nav-link" th:href="@{/dashboard}">
					<i class="bi bi-grid"></i> <span>Dashboard</span>
				</a></li>

			<li class="nav-item">
				<a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
					<i class="bi bi-menu-button-wide"></i><span>Master</span><i class="bi bi-chevron-down ms-auto"></i>
				</a>
				<ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
					<li>
						<a th:href="@{/master-transaction/list}">
							<i class="bi bi-circle"></i><span>Master Transaction</span>
						</a>
					</li>
					<li>
						<a th:href="@{/master-client/list}">
							<i class="bi bi-circle"></i><span>Master Client</span>
						</a>
					</li>

				</ul>
			</li><!-- End Components Nav -->

			<!-- Student Page -->
			<li class="nav-item"><a class="nav-link collapsed" th:href="@{/studentIndex}"> <i
						class="bi bi-mortarboard"></i> <span>Student</span>
				</a></li>

			<li class="nav-item"><a class="nav-link collapsed" th:href="@{/stateIndex}"> <i class="bi bi-geo-alt"></i>
					<span>State</span>
				</a></li>

			<li class="nav-item"><a class="nav-link collapsed" th:href="@{/distIndex}"> <i
						class="bi bi-pin-map-fill"></i> <span>District</span>
				</a></li>

			<li class="nav-item"><a class="nav-link collapsed" th:href="@{/cityIndex}"> <i class="bi bi-building"></i>
					<span>City</span>
				</a></li>

			<!-- Employee Page -->
			<li class="nav-item"><a class="nav-link collapsed" th:href="@{/employees}"> <i class="bi bi-people"></i>
					<span>Employees</span>
				</a></li>

		</ul>

	</aside>
</body>

</html>